<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Error</h2>
            
            <h4>An error occurred while processing your request.</h4>

            <p>Back to <a href="@Url.Action("Index")">Home</a></p>
        </div>
    </div>
</div>