<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Not Found</h2>
            <h4>We don't know about this url. Make sure your link is correct</h4>
            
            <p>Back to <a href="@Url.Action("Index")">Home</a></p>
        </div>
    </div>
</div>